<div class="main">
    <div class="player usuario">

    </div>
    <div class="consola">
        <div class="tiles">
            <app-tres-en-raya-tile class="tile" *ngFor="let c of tiles"
            [name]="c" [value]="values[c]" (datos)="recibirLetra($event)"></app-tres-en-raya-tile> 
        </div>
        <h1 *ngIf="win; else vacio">{{winner}}</h1>
        <button *ngIf="win" class="boton" (click)="replay()">REPLAY</button>
    </div>
    <div class="player maquina">
        
    </div>
</div>

<ng-template #vacio>
    <div></div>
</ng-template>
