.main {
background-color: lavender;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkorchid;
}

    h1 {
        font-size: 500%;
        font-weight: bold;
        color: whitesmoke;
        padding-top: 50px;
        text-align: center;
        }

    q {
        color: whitesmoke;
        text-align: center;
        font-size: 200%;
        line-height: 25px;
        font-style: italic;
        padding: 25px;
    }

.body {
    margin: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

    .elemento {
        height: fit-content;
        padding: 5px;
        background-color: rgb(197, 177, 236);
    }
    h3 + h4 + p, h3 + h4, .compdig p + p {
        margin-top: -20px;
    }

    h2 + div {
        margin-top: -15px;
    }

    h2 {
        margin-top: 5px;
        display: block;
        font-size: 200%;
    } 

    h3 {
        font-style: italic;
    }

    h4 {
        font-weight: 100;
    }

.footer {
    padding-top: 10px;
    font-size: 150%;
    color: whitesmoke;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkorchid;
}

