.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgoldenrodyellow;
    width: 100vw;
}

.word {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    h1 {
        padding: 50px;
        font-size: 500%;
    }

.mistakes {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    margin-top: 205px;
    animation: slide_up 2s forwards;
}

    .cross {
        width: 25px;
        height: 25px;
        background-image: url('../../assets/ahorcado/red-cross.png');
        background-size: cover;
    }

.adivinar {
    padding: 25px;
}

    .boton {
        font-size: 500%;
    }

    .letters {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: scroll;
    }

        .letra {
            margin-left: 25px;
        }
