<div class="main">
    <div class="word">
        <h1 *ngFor="let char of charsGuessed">{{char}}</h1>
    </div>
    <h1 *ngIf="auxbool == true && fallos<5; else vacio" class="respuesta">¡Ganaste!</h1>
    <h1 *ngIf="fallos == 5; else vacio" class="respuesta">¡Has perdido! La palabra era {{palabra}}</h1>
    <div class="mistakes">
        <div *ngIf="fallos > 0; else vacio" class="cross"></div>
        <div *ngIf="fallos > 1; else vacio" class="cross"></div>
        <div *ngIf="fallos > 2; else vacio" class="cross"></div>
        <div *ngIf="fallos > 3; else vacio" class="cross"></div>
        <div *ngIf="fallos > 4; else vacio" class="cross"></div>
    </div>
    <div class="others">
        <button mat-raised-button color="primary" *ngIf="fallos>4 || this.auxbool" class="boton" (click)="replay()">
            REPLAY
        </button>
        <button mat-raised-button color="primary" *ngIf="char.length != 0 && fallos<5; else vacio" class="boton"
            (click)="adivinarLetra(this.char)">
            ADIVINAR {{char}}
        </button>
    </div>
    <div class="adivinar">
        <div class="letters" *ngIf="fallos < 5 && !auxbool; else vacio">
            <app-ahorcado-letra class="letra" *ngFor="let char of abecedario" [nombre]="char"
                [imagen]="'../../assets/ahorcado/letras/' + char + '.png'"
                (datos)="recibirLetra($event)"></app-ahorcado-letra>
        </div>
    </div>
</div>

<ng-template #underscore>
    <h1>_</h1>
</ng-template>

<ng-template #vacio>
    <div></div>
</ng-template>