<div class="main">
    <div class="word">
        <h1 *ngFor="let char of charsPalabra"
        >_</h1> <!--TODO que con cada caracter ponga o el char o la bicha _-->
    </div>
    <div class="mistakes">
        <div *ngIf="fallos > 0; else vacio" class="cross"></div>
        <div *ngIf="fallos > 1; else vacio" class="cross"></div>
        <div *ngIf="fallos > 2; else vacio" class="cross"></div>
        <div *ngIf="fallos > 3; else vacio" class="cross"></div>
        <div *ngIf="fallos > 4; else vacio" class="cross"></div>
    </div>
    <div class="letters">
        <app-ahorcado-letra class="letra" *ngFor="let char of abecedario"
            [nombre]="char"
            [imagen]="'../../assets/ahorcado/letras/' + char + '.png'"
        ></app-ahorcado-letra>
    </div>
</div>

<ng-template #underscore>
    <h1>_</h1>
</ng-template>

<ng-template #vacio>
    <div></div>
</ng-template>