.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgoldenrodyellow;
    width: 100vw;
}

.word {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.word h1 {
    font-size: 500%;
}

.respuesta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 300%;
    line-height: 75px;
}

.others {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    font-size: 200%;
}

.mistakes {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    animation: slide_up 2s forwards;
}

.cross {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/ahorcado/red-cross.png');
    background-size: cover;
}

.adivinar {
    padding-bottom: 75px;
}

.letters {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}